
body {
    padding: 0;
}

h2{
    text-align: center;
    padding-bottom: 30px;
}

p{
    text-align: center;
}

.bg{
    background-color: #9ee09f;
}

.border-right{
    border-right: 2px solid #c3b9b9;
}

.item{
    flex-basis: 33%;
}

.wrapper {
    display: flex;
    min-width: 980px;
}


