
#app-root{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;

}
.flex-50{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.display-none{
    display: none;
}
.table{
    margin: 0 auto;
    width: 100%;
}
tr:nth-child(2n+1){
    background-color: #f2f2f2;
}
tr:nth-child(2n){
    background-color: #FFFFFF;
}
tr:hover{
    background-color: #e0dfdf;
}
th{
    background-color: #4fa74f;
    padding: 15px;
    color: #FFFFFF;
}
th span{
    color: #ffff00;
}
.radio-buttons{
    text-align: left;
}
